<div class="col-md-offset-1">
    <div class="row">
        I am a Ph.D student at the University of British Columbia (UBC). My research interests are in software engineering, particularly focusing on software design; software evolution; and code reviews.
    </div>
    <br/>
    <div class="row">
        I hold a master degree in software engineering from the Federal University of Campina Grande (UFCG), in which I have also graduated. My previous research topics at UFCG included: software testing; requirements traceability; aspect oriented programming; and refactoring;
    </div>
    <div class="row">
        Past industrial experiences include a knowledge exchange project (named ePol) between the Federal University of Campina Grande and the Brazillian Federal Police (PF). 
    	At ePol, I was a team leader and helped in reengeneering its RESTFul API as well as designing and coding system's functionalities.
    	Laslty, I was a senior analyst at Accenture Brazil LTDA, in which I participated in development and maintenance projects for TIM Brazil, and SKY HD TV.
    </div>
    <br/>
    <div class="row">
        I have a beautiful wife and a small dog. In my freetime, I like listening to music, playing rpg, and cooking, althoung its easier to code than to cook. 
    </div>
</div>

<!-- <img alt="Arthur Marques" class="img-circle" height="200" src="https://scontent.fgig1-3.fna.fbcdn.net/v/t1.0-0/p206x206/1235415_481494438613094_539223643_n.jpg?oh=e17534672b784d2829d4ac01f165cafe&oe=57EB1F5A"></img> -->