<div class="col-md-offset-1">
    <div data-ng-repeat="publication in ubcCtrl.publications">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    <span>
                        {{$index + 1}}.
                    </span>
                </strong>
                <span>
                    {{publication.authors}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<strong>{{publication.title}}</strong>
            	<a href="{{publication.link}}" target="_blank" ng-show="{{publication.link}}">
                    <i aria-hidden="true" class="fa fa-file-code-o">
                    </i>
                </a>
                <a href="{{publication.download}}" target="_blank">
                    <i aria-hidden="true" class="fa fa-file-pdf-o">
                    </i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>
                    {{publication.info}}
                </span>
            </div>
        </div>
        <br>
    </div>
</div>