<div class="row" style="text-align: center">
    <div class="row">
        <img alt="Arthur Marques" class="img-circle" height="100" src="https://en.gravatar.com/userimage/89392798/3c8d2ae5e4ff6744b5152bd547cf3579.jpg?size=200" width="100"></img>
    </div>
    <div class="row"><h3>Arthur Marques</h3></div>
    <div class="row"><h6>A funny phrase should be here ¯\_(ツ)_/¯</h6></div>
    <div class="text-center">
        <a class="btn btn-social-icon btn-facebook" href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon btn-bitbucket" target="_blank"><i class="fa fa-bitbucket"></i></a>
        <a class="btn btn-social-icon btn-dropbox" target="_blank"><i class="fa fa-dropbox"></i></a>
        <a class="btn btn-social-icon btn-flickr" target="_blank"><i class="fa fa-flickr"></i></a>
        <a class="btn btn-social-icon btn-foursquare" target="_blank"><i class="fa fa-foursquare"></i></a>
        <a class="btn btn-social-icon btn-github" target="_blank"><i class="fa fa-github"></i></a>
        <a class="btn btn-social-icon btn-google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon btn-instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-social-icon btn-tumblr" target="_blank"><i class="fa fa-tumblr"></i></a>
        <a class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social-icon btn-vk" target="_blank"><i class="fa fa-vk"></i></a>
    </div>
    <hr width="30%"></hr>
    <div class="row">
        <button class="btn btn-primary" type="button" data-ng-click="ubcCtrl.goTo('/about')">About me</button>                    
        <button class="btn btn-warning" type="button" data-ng-click="ubcCtrl.goTo('/publications')">Publications</button>
        <button class="btn btn-success" type="button" data-ng-click="ubcCtrl.getCV()">Curriculum</button>
    </div>
    <hr width="70%"></hr>
</div>
<br>